
.form-container{

  .checkout-form {
    width: 450px;
    height: 525px;
    padding: 4%;
  
    .form-input-container{
      margin-top: 25%;
  
      #card-number-formControl, #card-name-formControl{
        width:355px;
        margin: 2% 2% 6% 2%;
      }
    
      #ex-date-label{
        display: flex;
        justify-content: left;
        margin-left: 10.5%;
      }
    
      .ex-cvv-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        #ex-month-formControl, #ex-year-formControl{
          width: 100px;
          margin: 2%;
        }
      
        #cvv-formControl{
          width: 100px;
          margin: 2% 2% 2% 6%;
        }
      }
    
      #submit-button{
        width: 200px;
        padding: 2%;
        margin-top: 8%;
        font-size: 16pt;
        background-image: linear-gradient(to right, #c46d9b , #6F4B98);
        border-radius: 8px;

        &:hover{
          background-image: linear-gradient(to right, #f189c0 , #9e6dd7);
        }
      }
    }
  }
}

